// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$black: #000000;
$off-black: #333333;
$gray: #CCCCCC;
$white: #ffffff;
$off-white: #EEF2F3;
$red: #CF4747;
$blue: #6A8EB8;
$light-yellow: #F9F9A3;
$off-black-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);

// Materia custom colours 17 May 2021 SL

$materia-yellow-primary: #edbc0b;
$materia-cream-secondary: #fdf5d9;
$materia-blue-accent: #6a808d; // alternative #86A0B0 or #99B7C9
$materia-linen-primary: #968F72;  //#B0A786
$materia-linen-secondary: #e1dcc7; //jhna
